<a href="https://colab.research.google.com/github/sudev-das-p/guvi_task1/blob/main/imputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
X_np = np.array([['PhD'],['12th'],['Btech'],['PhD']])
X_np

array([['PhD'],
       ['12th'],
       ['Btech'],
       ['PhD']], dtype='<U5')

In [4]:
import pandas as pd
X_df = pd.DataFrame(X_np,columns = ['Quals'])
X_df

   Quals
0    PhD
1   12th
2  Btech
3    PhD

In [9]:
#ordinal encoding
from sklearn.preprocessing import OrdinalEncoder
OE = OrdinalEncoder()
X_OE = OE.fit_transform(X_df)
X_OE

array([[2.],
       [0.],
       [1.],
       [2.]])

In [13]:
#explicitly mention the order of encoding
OE2 = OrdinalEncoder(categories=[['12th','Btech','PhD']])
X_OE2 = pd.DataFrame(OE2.fit_transform(X_df),columns = ['Quals'])
X_OE2

   Quals
0    2.0
1    0.0
2    1.0
3    2.0

In [20]:
X = np.array([['red'],['green'],['blue'],['red'],['blue']])
X

array([['red'],
       ['green'],
       ['blue'],
       ['red'],
       ['blue']], dtype='<U5')

In [21]:
X_df = pd.DataFrame(X,columns = ['colours'])
X_df

  colours
0     red
1   green
2    blue
3     red
4    blue

In [22]:
#one hot encoder
from sklearn.preprocessing import OneHotEncoder
OHE = OneHotEncoder()
OHE_X = OHE.fit_transform(X_df)
OHE_X.toarray()

array([[0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [30]:
OHE = OneHotEncoder(sparse = False)
OHE_X1 = OHE.fit_transform(X_df)
OHE_X1
OHE_X1 = pd.DataFrame(OHE_X1,columns = ['blue','green','red'])
OHE_X1

   blue  green  red
0   0.0    0.0  1.0
1   0.0    1.0  0.0
2   1.0    0.0  0.0
3   0.0    0.0  1.0
4   1.0    0.0  0.0

In [32]:
cols = ['Sex','Length','Diameter','Height','Whole Weight','Shucked weight','Viscera weight','Shell weight','Wings']
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data',names = cols)
data

,Sex,Length,Diameter,Height,Whole Weight,Shucked weight,Viscera weight,Shell weight,Wings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [33]:
data.Sex.value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64

In [34]:
OHE = OneHotEncoder(sparse = False)

SyntaxError: ignored

In [56]:
cols = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data",names = cols)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [60]:
df.ca.value_counts()

0.0    176
1.0     65
2.0     38
3.0     20
?        4
Name: ca, dtype: int64

In [59]:
df.thal.value_counts()

3.0    166
7.0    117
6.0     18
?        2
Name: thal, dtype: int64

In [62]:
df.replace('?',np.nan,inplace=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,NaN,3.0,0

In [64]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
num         0
dtype: int64

In [68]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'mean')
df = imputer.fit_transform(df)
df = pd.DataFrame(df,columns = cols)
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64